h1 {
  color: purple;
  font-family: Mina;
  font-weight: bold;
}

p {
  font-family: Oswald;
}

<style>
@import url('https://fonts.googleapis.com/css?family=Mina:700');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
</style>
