body {
  background-color: #282828;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family: 'Oswald', sans-serif;
}

.footer-as {
  padding: 60px; 20px;
}

#header {
  font-family: 'Oswald', sans-serif;
}

#carousel-image {
  max-height: 720px;
}

<style>
@import url('https://fonts.googleapis.com/css?family=Mina:400, 700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200, 300, 400, 500, 600, 700');
</style>
